@font-face {
font-family: 'andes b';
src: url(andes-bold.otf);
}

@font-face {
font-family: 'andes bi';
src: url(AndesBold-Italic.otf);
}


@font-face {
  font-family: 'andes m';
  src: url(andes-medium.otf);
}

@font-face {
  font-family: 'andes mi';
  src: url(AndesMedium-Italic.otf);
}

@font-face {
  font-family: 'andes l';
  src: url(andes-light.otf);
}
@font-face {
  font-family: 'andes li';
  src: url(AndesLight-Italic.otf);
}

@font-face {
  font-family:'andes r';
  src: url(andes-regular.otf);
}
@font-face {
  font-family:'andes i';
  src: url(Andes-Italic.otf);
}

body{
  overflow: scroll;
/* x */
  margin: 0;
background: white;
color:#25194D;
}

/* .zoom-in{
  cursor:zoom-in;
}

.zoom-out{
  cursor:zoom-out;
} */

.show{
  display: block;
}

.hide{
  display: none;
}
.onex{
  color:#323f76;
  /* background-image: linear-gradient(#E9DAD6,#E9DAD6)!important; */
  /* background: red; */
  font-size: calc(8px + 4 * ((100vw - 320px) / 1280));
    padding:10px;
    width:40%;
    height:25%;
}


.logo{
  z-index:10;
  position: fixed;
  top:20px;
  right:20px;
}
.logo img{
    width:120px;
}
.credits{
  z-index:10;
  position: fixed;
  bottom:20px;
  right:20px;
  width:120px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.credit1,
.credit2{
  text-align: right;
  width:60px;
}
.credit1 img{
  width:55%;
}
.credit2 img{
  width: 75%;
}
.menu{
  z-index:200;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 35px;
  border:1px solid #ccc;
  padding:10px;
  height:30px;
  width: 30px;
  text-align: center;
  background: white;
    /* z-index:10; */
  color:#444;
  position: fixed;
  top:20px;
  left:20px;
  text-decoration: none;
  font-family: 'andes r';
  /* font-size: calc(12px + 4 * ((100vw - 320px) / 1280)); */
  font-size: 14px;
}
.close{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 35px;
  border:1px solid #ccc;
  padding:10px;
  height:30px;
  width: 30px;
  text-align: center;
  background: white;
    /* z-index:10; */
  color:#444;
  position: fixed;
  top:20px;
  left:20px;
  text-decoration: none;
  font-family: 'andes r';
  /* font-size: calc(12px + 4 * ((100vw - 320px) / 1280)); */
    font-size: 14px;
}
.show-menu{
  z-index:201;
}

.menu-display{
  overflow: scroll;
  padding: .5vw;
  z-index:100;
  background: #fff;
  border: 1px solid #ccc;
  display: none;
  position: absolute;
  top:3.5vw;
  left:3.5vw;
  font-family: 'andes l';
  font-size: 17px;
  color:black;
bottom: 3.5vw;
  max-width:300px;
  /* height: 700px; */
}

.visited{
  /* color:yellow; */
  text-decoration: line-through;
}
.group{
  padding:10px 20px;
}
.group-name{
  font-family: 'andes b';
  /* font-weight: 700; */
  color:grey;
}
.group-name-list{
  color:black;
  padding:5px 5px 5px 0;
}
.group-name2-list{
  width:240px;
  /* background: red; */
  color:black;
  line-height: 1.4;
    padding:5px 5px 5px 10px;
}
.group-name2{
  color:grey;
  padding:10px 5px 5px 10px;
}
.content{
  overflow: hidden;
  height: 100vh;
  position: fixed;
  width:100vw;
  margin:0;
}

.intro{
  color:#323f76;
  font-family: 'Open Sans', sans-serif;
  /* background: red; */
  font-size: calc(12px + 4 * ((100vw - 320px) / 1280));
  width:800px;
  height:10%;
  padding: 20px;
  line-height: 1.6;
}

.columns{
  width:100%;
  height:70%;
  /* float:left; */
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start; */
}
.column1{
  /* background: red; */
}
.column2{
/* background: red; */
}
.column3{
/* background: red; */
}
.column1,
.column2,
.column3{
  width:30%;
  height: 100%;
  /* background: red; */
  float:left;
}
.category{
  font-size: calc(12px + 4 * ((100vw - 320px) / 1280));
  text-align: center;
    font-family: 'andes b';
    /* font-weight: 700; */
    padding: 5% 0 0 5%;
}
/* .research{
  position: relative;

border-radius: 50px;

width:90%;
margin: 5%;
height:10%;
display: flex;
flex-wrap: nowrap;
justify-content: space-around;
} */
.process,
.video,
.media{
  font-family: 'Open Sans', sans-serif;
/* padding:10px; */
color:#323f76;
}

.insights{
  width:90%;
  height:70%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;

}
.insights a{

}
.arrow{
  font-family: 'Open Sans', sans-serif;
  width:10%;
  font-size: calc(10px + 4 * ((100vw - 320px) / 1280));
  padding:0 5% 0 5%;
}
.arrow img{
  width:100%;
}

ul{
  /* background: blue; */
  margin:0;
  padding: 0;
}

.filters-list{
  /* background: pink; */
  margin-right:5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  /* border-radius: 5px; */
    /* border:2px solid #8ec9c3; */
}

.insight1,
.insight2,
.Insight3,
.insight4,
.insight5,
.insight6,
.insight7,
.Insight8{
  text-align: left;
font-family: 'Open Sans', sans-serif;
}

.insight1 img{
  width:100%;
}

.arrow01{
  width:1.65vw;
  /* height:100%; */
    background-color: blue;
}
.arrow01 img{
width:50%;
}

.bg-articles{
z-index: 11;
background : #aaa;
width:100vw;
height:100vh;
opacity:.2;
top:0;
left:0;
position: fixed;
}
.articles{
  line-height: 1.5;
  /* z-index: 12; */
font-family: 'Open Sans', sans-serif;
display: none;
position: absolute;
top: 0vh;
left: 5vw;
right: 5vw;
min-height: 100vh;
max-width: 1364px;
z-index: 100;
margin-bottom: 5vw!important;
margin-top: 5vw;
background: pink;
}

.insight-macro{
  margin: 0px auto 100px auto;
width:1080px;
min-height: 100vh;
position: relative;
}
.user-discovering{
  position: relative;
  top:0;
  left:0;
  background: grey;
  max-width:1364px;
  height:100px;
}

.caption{
  position: -webkit-sticky;
/* z-index: 99; */
margin:0 auto;
position: sticky;
max-width:1020px;
top:0;
/* transform: translateY(-10%); */
  text-align: center;
  margin-bottom: 0px auto 50px auto;
    font-family: 'andes mi';
color:#25194D;
  font-size: calc(36px + 12 * ((100vw - 320px) / 1280));
}
.nav{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
      position: -webkit-sticky;
  z-index: 1000;
  margin:0 auto;
  position: sticky;
max-width:1020px;
  top:80%;
}
.dots{
  display: none;
}
.prev{
  cursor: pointer;
}
.next{
  cursor: pointer;
}
.prev img,
.next img{
  width:40px;
}

/* .slideshow{
  height:100%;
  width:1080px;
  overflow: hidden;
  margin: 0px auto 50px auto;
}


.holder{
position: relative;
top:0;
left:0;
width: 3240px;
height: 100vh;
} */

.visible{
  display: block;
}

.insight-macro-1{
z-index: 100;
position: absolute;
top:40vh;
left:0;
/* float: left; */
background: #FFFFF7;
width:960px;
  padding: 0 60px;
  margin-bottom: 10vw;
}

.insight-macro-2{
/* z-index: 100; */
position: absolute;
top:40vh;
left:0;
background: #FFFFF7;
width:960px;
  padding: 0 60px;
  margin-bottom: 5vw;
}
.insight-macro-3{
  position: absolute;
top:40vh;
  left:0;
background: #FFFFF7;
width:960px;
  padding: 0 60px;
  margin-bottom: 5vw;
}

.col2{
  margin:0 auto;
  position: relative;
      overflow: scroll;
max-width:900px;
  min-height:100vh;
  /* background: green; */
}

.header{
  /* margin:10px 0 10px 0; */
  max-width:900px;
  height:640px;
  overflow: hidden;
/* background: yellow; */
}
.header-image1{
  width:100%;
  height:640px;
  /* background: red; */
  background-image: url(insight1.jpg);
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
}
.header-image2{
  width:100%;
  height:100%;
  /* background: red; */
  background-image: url(insight2.jpg);
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
}
.header-image3{
  width:100%;
  height:100%;
  /* background: red; */
  background-image: url(insight3.jpg);
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
}

.header-text{
  text-align: center;
    font-size: calc(18px + 3 * ((100vw - 320px) / 1280));
  font-family: 'andes i';
  padding: 20px 0;
  /* width:525px; */
}
.copy{
  padding-top:40px;
    font-family: 'Open Sans', sans-serif;
  font-size: calc(16px + 3 * ((100vw - 320px) / 1280));
  max-width:600px;
  margin:0 auto 0 auto;
}
.para{
    font-family: 'andes mi';
      font-size: calc(16px + 4 * ((100vw - 320px) / 1280));
    max-width:360px;
    margin:80px 180px 80px auto;
}

.paraname{
  font-family: 'andes i';
    font-size: calc(12px + 3 * ((100vw - 320px) / 1280));
}
.footnotes{
  font-family: 'andes i';
    font-size: calc(10px + 2 * ((100vw - 320px) / 1280));
  max-width: 900px;
  padding-bottom: 40px;
}
.header-image1-2{
  width:480px;
  height:300px;
  background-image: url(insight1-quote.jpg);
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
}

.header-image2-2{
  width:480px;
  height:300px;
  background-image: url(insight2-quote.jpg);
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
}

.header-image3-2{
  width:480px;
  height:300px;
  background-image: url(insight3-quote.jpg);
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
}



.index{
z-index:120;
}

.circle{
  width:7px;
  height:7px;
}
.opacity{
  opacity:.05;
}
.blur{
  filter: blur(10px);
 -webkit-filter: blur(10px);
}

@media(max-width:1080px) {
  .nav{
    max-width: 600px;
  }
  .slideshow{
    width:600px;
  }
.holder{
  width:1800px;
}

  .insight-macro-1,
  .insight-macro-2,
  .insight-macro-3{
    float: left;
  width:520px;
    padding: 0 40px;
  }

  .prev img,
  .next img{
    width:30px;
  }
}


@media(max-width:600px) {
  .menu-display{
    padding:2.5vw;
      left:5vw;
      right:5vw;
    top:10vh;
  bottom: 5vh;
    max-width:85vw;
    /* height: 700px; */
  }
  .nav{
    max-width: 290px;
  }
  .slideshow{
    width:300px;
  }
.holder{
  width:900px;
}
  .insight-macro-1,
  .insight-macro-2,
  .insight-macro-3{
    float: left;
  width:250px;
    padding: 0 25px;
  }
  .prev img,
  .next img{
    width:22px;
  }
}
