@font-face {

font-family: 'andes b';
/* src: url(css/andes-bold.otf) format("opentype"); */
/* src: url(assets/andes-bold.otf); */
src: url(andes-bold.otf);
  /* font-weight: bold; */
}
@font-face {
  font-family: 'andes bi';
  src: url(andes-bold-italic.otf);
  /* font-weight: 300; */
}
@font-face {
  font-family: 'andes l';
  src: url(andes-light.otf);
  /* font-weight: 300; */
}

@font-face {
  font-family:'andes r';
  src: url(andes-regular.otf);
    src: url(assets/andes-regular.otf);
        src: url(css/andes-regular.otf);
  /* font-weight: 400; */
}

body{
  overflow: scroll;
/* x */
  margin: 0;
background: white;
color:#25194D;
}

/* .zoom-in{
  cursor:zoom-in;
}

.zoom-out{
  cursor:zoom-out;
} */

.show{
  display: block;
}

.hide{
  display: none;
}
.onex{
  color:#323f76;
  /* background-image: linear-gradient(#E9DAD6,#E9DAD6)!important; */
  /* background: red; */
  font-size: calc(8px + 4 * ((100vw - 320px) / 1280));
    padding:10px;
    width:40%;
    height:25%;
}


.logo{
  z-index:10;
  position: fixed;
  top:20px;
  right:20px;
}
.logo img{
    width:120px;
}
.credits{
  z-index:10;
  position: fixed;
  bottom:20px;
  right:20px;
  width:120px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.credit1,
.credit2{
  text-align: right;
  width:60px;
}
.credit1 img{
  width:55%;
}
.credit2 img{
  width: 75%;
}
.about{
    z-index:10;
  color:#444;
  position: fixed;
  top:20px;
  left:20px;
  font-family: 'andes b';
  font-size: calc(12px + 4 * ((100vw - 320px) / 1280));
}

.content{
  height: 100vh;
  position: relative;
  width:100vw;
  margin:0;
}

.intro{
  color:#323f76;
  font-family: 'Open Sans', sans-serif;
  /* background: red; */
  font-size: calc(12px + 4 * ((100vw - 320px) / 1280));
  width:800px;
  height:10%;
  padding: 20px;
  line-height: 1.6;
}

.columns{
  width:100%;
  height:70%;
  /* float:left; */
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start; */
}
.column1{
  /* background: red; */
}
.column2{
/* background: red; */
}
.column3{
/* background: red; */
}
.column1,
.column2,
.column3{
  width:30%;
  height: 100%;
  /* background: red; */
  float:left;
}
.category{
  font-size: calc(12px + 4 * ((100vw - 320px) / 1280));
  text-align: center;
    font-family: 'andes b';
    /* font-weight: 700; */
    padding: 5% 0 0 5%;
}
/* .research{
  position: relative;

border-radius: 50px;

width:90%;
margin: 5%;
height:10%;
display: flex;
flex-wrap: nowrap;
justify-content: space-around;
} */
.process,
.video,
.media{
  font-family: 'Open Sans', sans-serif;
/* padding:10px; */
color:#323f76;
}

.insights{
  width:90%;
  height:70%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;

}
.insights a{

}
.arrow{
  font-family: 'Open Sans', sans-serif;
  width:10%;
  font-size: calc(10px + 4 * ((100vw - 320px) / 1280));
  padding:0 5% 0 5%;
}
.arrow img{
  width:100%;
}

ul{
  /* background: blue; */
  margin:0;
  padding: 0;
}

.filters-list{
  /* background: pink; */
  margin-right:5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  /* border-radius: 5px; */
    /* border:2px solid #8ec9c3; */
}

.insight1,
.insight2,
.Insight3,
.insight4,
.insight5,
.insight6,
.insight7,
.Insight8{
  text-align: left;
font-family: 'Open Sans', sans-serif;
}

.insight1 img{
  width:100%;
}

.arrow01{
  width:1.65vw;
  /* height:100%; */
    background-color: blue;
}
.arrow01 img{
width:50%;
}

.bg-articles{
z-index: 11;
background : white;
width:100vw;
height:100vh;
opacity:1;
top:0;
left:0;
position: fixed;
}
.articles{
  line-height: 1.5;
  z-index: 11;
font-family: 'Open Sans', sans-serif;
display: none;
  width:1200px;
  height:100vh;
    /* background : blue; */
  opacity:1;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  position: fixed;
}

.insight-macro{
    max-width:1200px;
  margin:25px auto 25px auto;
  position: relative;
}


.caption{
  margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
color:#81797B;
  font-size: calc(12px + 2 * ((100vw - 320px) / 1280));
}

.insight-macro-1{
z-index: 100;
  position: absolute;
  top:50px;
  background: #E9DAD6;
  max-width: 1200px;
  height:100vh;
  margin: 0 auto 0 auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  /* margin-bottom: 50px; */
}

.col1,
.col3{
  position:relative;
  cursor: pointer;
  /* background: red; */
  width:120px;
  height:100vh;
}
.col1 img,
.col3 img{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  width:40px;
}
.col2{
      overflow: scroll;
width:960px;
  height:100vh;
  /* background: blue; */
}

.header{
  margin:40px 0 40px 0;
  width:960px;
  height:640px;
/* background: red;  */
}
.header-image1{
  width:100%;
  height:100%;
  /* background: red; */
  background-image: url(insight1.jpg);
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
}
.header-image2{
  width:100%;
  height:100%;
  /* background: red; */
  background-image: url(insight2.jpg);
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
}
.header-image3{
  width:100%;
  height:100%;
  /* background: red; */
  background-image: url(insight3.jpg);
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
}

.header-text{
    font-size: calc(20px + 4 * ((100vw - 320px) / 1280));
  font-family: "andes b";
  color: white;
  padding:40px;
  width:525px;
}
.copy{
    font-family: 'Open Sans', sans-serif;
  font-size: calc(16px + 3 * ((100vw - 320px) / 1280));
  max-width:600px;
  margin:0 auto 0 auto;
}
.para{
    font-family: 'andes b';
      font-size: calc(16px + 4 * ((100vw - 320px) / 1280));
    max-width:360px;
    margin:80px 180px 80px auto;
}

.paraname{
  font-family: 'andes r';
    font-size: calc(12px + 3 * ((100vw - 320px) / 1280));
}
.header-image1-2{
  width:480px;
  height:300px;
  background-image: url(insight1-quote.jpg);
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
}

.header-image2-2{
  width:480px;
  height:300px;
  background-image: url(insight2-quote.jpg);
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
}

.header-image3-2{
  width:480px;
  height:300px;
  background-image: url(insight3-quote.jpg);
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
}

.insight-macro-2{
  position: absolute;
  top:50px;
  background: #B8D8D7;
  max-width: 1200px;
  height:100vh;
  margin: 0 auto 0 auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  /* margin-bottom: 50px; */
}

.insight-macro-3{
  position: absolute;
  top:50px;
  background: #CED9BB;
  max-width: 1200px;
  height:100vh;
  margin: 0 auto 0 auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  /* margin-bottom: 50px; */
}
.index{
z-index:120;
}
