@font-face {
  font-family: andes-bold;
  src: url(Andes Bold.otf);
  font-weight: bold;
}

@font-face {
  font-family: andes-light;
  src: url(Andes Light.otf);
  font-weight: 300;
}

@font-face {
  font-family: andes-regular;
  src: url(Andes Regular.otf);
  font-weight: 400;
}
